@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   ::-ms-reveal {
      filter: invert(100%);
   }
   .container {
      @apply h-full w-[1700px];
   }
   .btn {
      @apply w-[40px] h-[40px] rounded-full overflow-hidden flex items-center justify-center active:bg-dark_hover_1;
   }
   .input {
      @apply w-full dark:bg-dark_bg_2 p-2 dark:text-dark_text_1 rounded-lg flex-1 outline-none;
   }
   .overflow_scrollbar {
      height: calc(100vh - 100px);
      overflow-y: auto;
      overflow-x: hidden;
   }
   .callbg {
      background-image: linear-gradient(black, black),
         url("https://i.pinimg.com/originals/65/9b/b2/659bb249455400dd1b9c17e73f0c13dd.jpg");
      background-size: cover;
      background-blend-mode: saturation;
   }
   .large-video {
      @apply absolute top-0 bottom-0 left-0 right-0 z-20 object-cover h-full bg-red-400 cursor-pointer;
   }
   .small-video {
      @apply w-28 h-32 object-cover absolute bottom-4 right-2 z-30 bg-blue-500 cursor-pointer rounded-lg;
   }
   .move-video-call {
      @apply bottom-32 transition-all duration-100;
   }
   .move-actions-comp {
      @apply block;
   }
}
.animate-rotate {
   animation: rotate 0.2s forwards;
}
@keyframes rotate {
   0% {
      transform: rotate(-90deg);
   }
   100% {
      transform: rotate(0deg);
   }
}
.flex-3 {
   flex: 0 0 30%;
}
.scrollbar::-webkit-scrollbar {
   width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
   background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
   background: #444e54;
}
li {
   list-style: none;
}
.conversation {
   height: calc(100vh - 220px);
   overflow-y: auto;
   overflow-x: hidden;
}
.css-obio5r-control:hover {
   border-color: transparent !important;
}
.css-obio5r-control {
   box-shadow: none !important;
}

.css-1hb7zxy-IndicatorsContainer {
   display: none !important;
}
.css-1p3m7a8-multiValue {
   background: transparent !important;
   color: #fff !important;
   border: 1px solid #025144;
   border-radius: 5px !important;
}
.css-1p3m7a8-multiValue span {
   color: #fff !important;
}
.css-1p3m7a8-multiValue span:hover {
   background: transparent !important;
}
.css-tj5bde-Svg {
   background: red;
   border-radius: 50%;
}
.css-12a83d4-MultiValueRemove:hover {
   background: transparent !important;
}
.css-12a83d4-MultiValueRemove:hover svg {
   fill: #fff !important;
}
.css-qbdosj-Input input {
   color: #fff !important;
}
.css-1nmdiq5-menu {
   background: transparent !important;
   color: #fff !important;
   border: 1px solid #025144;
   border-radius: 5px !important;
}
.css-1n6sfyn-MenuList {
   background: transparent !important;
}

/*--- MenuList Scroollbar
   /* width */
.css-1n6sfyn-MenuList::-webkit-scrollbar {
   width: 6px !important;
}
/* Track */
.css-1n6sfyn-MenuList::-webkit-scrollbar-track {
   background: transparent !important;
}
/* Handle */
.css-1n6sfyn-MenuList::-webkit-scrollbar-thumb {
   background: #444e54 !important;
}
.css-10wo9uf-option span {
   color: #fff !important;
}

.animate-group {
   animation: cga 0.5s;
}
@keyframes cga {
   0% {
      width: 0;
   }
   100% {
      width: 100%;
   }
}
