@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   ::-ms-reveal {
      filter: invert(100%);
   }
   .container {
      @apply h-full w-[1700px];
   }
   .btn {
      @apply w-[40px] h-[40px] rounded-full overflow-hidden flex items-center justify-center active:bg-dark_hover_1;
   }
   .input {
      @apply w-full dark:bg-dark_bg_2 p-2 dark:text-dark_text_1 rounded-lg flex-1 outline-none;
   }
   .overflow_scrollbar {
      height: calc(100vh - 100px);
      overflow-y: auto;
      overflow-x: hidden;
   }
   .callbg {
      background-image: linear-gradient(black, black),
         url("https://i.pinimg.com/originals/65/9b/b2/659bb249455400dd1b9c17e73f0c13dd.jpg");
      background-size: cover;
      background-blend-mode: saturation;
   }
   .large-video {
      @apply absolute top-0 bottom-0 left-0 right-0 z-20 object-cover h-full bg-red-400 cursor-pointer;
   }
   .small-video {
      @apply w-28 h-32 object-cover absolute bottom-4 right-2 z-30 bg-blue-500 cursor-pointer rounded-lg;
   }
   .move-video-call {
      @apply bottom-32 transition-all duration-100;
   }
   .move-actions-comp {
      @apply block;
   }
}
.animate-rotate {
   animation: rotate 0.2s forwards;
}
@keyframes rotate {
   0% {
      transform: rotate(-90deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

.scrollbar::-webkit-scrollbar {
   width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
   background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
   background: #444e54;
}
li {
   list-style: none;
}
.conversation {
   height: calc(100vh - 220px);
   overflow-y: auto;
   overflow-x: hidden;
}
